<%= "you just register the following informations" %>
<h1>The recipe's name is: <%= params[:name] %></h1>
<h2>The recipe's description is: <%= params[:description] %></h2>
<h2><a href="/">root</a></h2>
