<form action="/new_recipe_creates" target="_blank">
  Recipe name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description">
  <input type="submit" value="Submit">
</form>
